.date_large{
    text-align: center;
    border: 2px solid;
    border-radius: 10px 10px 0px 0px;
}
.header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#calender_area_id{
    display: none;
}
.calender_area {
    justify-content: space-around;
}
.input_field {
    margin: 2% 4%;
}
.date_card {
    border: 1px solid #e4e4e4;
    border-radius: 15px;
}
#print {
    border: 2px solid #78f1fd;
    height: fit-content;
    margin-top: 1.5%;
}
.arrow_left , .arrow_right{
    font-size: 60px;
    margin-top: 4%;
    cursor:pointer;
}
input::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
